Mostrar nombre original, longitud del nombre, nombre en mayúsculas y
nombre en minúsculas de las ciudades de Colombia

CONSULTA:

SELECT Name, LENGTH(Name), UPPER(Name), LOWER(Name) from city WHERE CountryCode = 'COL';

Mostrar nombre original y cantidad de palabras de las ciudades de Colombia,
asumiendo que las palabras están separadas por espacios en blanco

CONSULTA:

SELECT Name, LENGTH(Name) - LENGTH(REPLACE(Name, ' ', '')) + 1 AS cantidad_palabras FROM city WHERE CountryCode = 'Col';